@import "../../variables";

.btn {
  all: unset;
  box-sizing: border-box;
  cursor: pointer;
  background-color: $CYAN;
  color: white;
  font-weight: 700;
}

.btn-header {
  font-size: 12px;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;

  &:hover {
    opacity: 60%;
  }
}

.btn-about {
  font-size: 13px;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;

  &:hover {
    opacity: 60%;
  }
}

.btn-boost {
  font-size: 13px;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;

  &:hover {
    background-color: #7fe2e2;
  }
}

.btn-short {
  font-size: 13px;
  padding: 14px 25px 14px 25px;
  border-radius: 7px;

  &:hover {
    background-color: #7fe2e2;
  }
}

.btn-copy {
  font-size: 13px;
  padding: 10px 25px 10px 25px;
  border-radius: 7px;

  &:hover {
    opacity: 60%;
  }
}

.btn-copied {
  font-size: 13px;
  padding: 10px 16px 10px 16px;
  border-radius: 7px;
  background-color: $DARK_VIOLENT;
}

@media (max-width: 914px) {
  .btn-copy {
    padding: 0;
    width: 96%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
  }

  .btn-copied {
    padding: 0;
    width: 96%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
  }
}

@media (max-width: 714px) {
  .btn-short {
    padding: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
  }
}
