@import "../../variables";

.shortLink {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  font-size: 15px;
  width: 1110px;
  padding: 15px 30px 15px 30px;
  border-radius: 10px;

  &__boxOne {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 950px;
  }

  &__fullLink {
  }

  &__shortLink {
    color: $CYAN;
  }
}

@media (max-width: 1138px) {
  .shortLink {
    width: 900px;

    &__boxOne {
      width: 700px;
    }
  }
}

@media (max-width: 914px) {
  .shortLink {
    width: auto;
    flex-direction: column;

    gap: 10px;
    padding: 15px 0px 15px 0px;

    &__boxOne {
      width: 500px;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }

    &__fullLink {
      overflow: hidden;
      width: 100%;
      border-bottom: 1px solid $GRAY;
      padding-bottom: 10px;
      padding-left: 10px;
      padding-right: 10px;
    }

    &__shortLink {
      color: $CYAN;
      overflow: hidden;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}
