@import "../../variables";

.list {
  &__title {
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 15px;
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__link {
    color: $GRAYISH_VIOLENT;
    text-decoration: none;
    font-size: 12px;

    &:hover {
      color: $CYAN;
    }
  }
}

@media (max-width: 914px) {
  .list {
    &__title {
      text-align: center;
    }

    &__items {
      align-items: center;
    }
  }
}
