@import "../../variables";

.hamburger {
}

@media (max-width: 680px) {
  .hamburger {
    width: 20px;
    position: relative;
    z-index: 20;
    display: flex;
    flex-direction: column;
    gap: 4px;
    height: 14px;
    span {
      height: 2px;
      width: 100%;
      display: block;
      background: black;
      transition: 0.5s all;
    }
    &_active {
      span {
        background-color: black;
        margin-bottom: -6px;
        &:nth-child(1) {
          transform: translateY(3px) rotate(-45deg);
        }
        &:nth-child(2) {
          display: none;
        }
        &:nth-child(3) {
          transform: translateY(3px) rotate(45deg);
        }
      }
    }
  }
}
