@import "../../variables";

.statistic {
  background-color: $GRAY;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
  padding-top: 200px;
  padding-bottom: 100px;
  position: relative;

  &__formContainer {
    position: absolute;
    top: -80px;
  }

  &__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 50px;
  }

  &__text {
    color: $GRAYISH_VIOLENT;
    font-size: 12px;
    font-weight: 700;
    line-height: 22px;
    text-align: center;
  }

  &__boxOne {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__line {
    width: 20px;
    height: 5px;
    background-color: $CYAN;
    align-self: center;
  }

  &__boxTwo {
    display: flex;
    height: 290px;
  }

  &__cardOne {
    align-self: start;
  }

  &__cardTwo {
    align-self: center;
  }

  &__cardThree {
    align-self: flex-end;
  }
}
